* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #131420;
  color: #fff;
  padding: 1em 10em;
}

nav .logo {
  font-size: 24px;
  font-weight: 700;
  flex: 1;
  display: flex;
  align-items: center;
}

nav .links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
}

nav .links li {
  margin-left: 2em;
}

nav .links li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
}

nav .links li a:hover {
  color: rgba(255, 255, 255, 1);
}

/* Backdrop */
nav .backdrop {
  display: none;
  animation: 0.4s ease-in-out fadeIn forwards;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

@keyframes fadeIn {
  to {
    background: rgba(0, 0, 0, 0.1);
  }
}

/* Icon Menu */
nav .icon {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
  z-index: 3;
  cursor: pointer;
}

nav .icon::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 7px;
}

nav .icon::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 7px;
}

/* Main-Area */

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6em 10em;
}

.title {
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td:nth-child(1) {
  text-align: center;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  border: 1px solid #ccc;
}

@media (max-width: 1200px) and (min-width: 1030px) {
  nav {
    padding: 1em 5em;
  }

  main {
    padding: 6em 5em;
  }
}

@media (max-width: 1030px) and (min-width: 300px) {
  nav {
    padding: 1em 2em;
  }

  nav .icon {
    display: block;
  }

  nav .links {
    position: absolute;
    top: 0;
    height: 100%;
    width: 90%;
    right: -90%;
    background: #131420;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 2;
    transition: 0.3s ease-in-out;
  }

  nav .links li {
    margin-bottom: 100px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    display: block;
    position: relative;
  }

  nav .links li a {
    font-size: 1.5rem;
    position: absolute;
    left: -3em;
  }

  .collapse .icon::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .collapse .icon::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .collapse .links {
    right: 0;
  }

  .collapse .backdrop {
    display: block;
  }

/* main */

  main {
    padding: 2em;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    display: none;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
Label the data
*/
  td:nth-child(1) {
    text-align: left;
  }

  td:nth-of-type(1):before {
    font-weight: bold;
    content: "No";
  }

  td:nth-of-type(2):before {
    font-weight: bold;
    content: "Tanggal";
  }

  td:nth-of-type(3):before {
    font-weight: bold;
    content: "Nama Transaksi";
  }

  td:nth-of-type(4):before {
    font-weight: bold;
    content: "No Akun Debit";
  }

  td:nth-of-type(5):before {
    font-weight: bold;
    content: "No Akun Kredit";
  }

  td:nth-of-type(6):before {
    font-weight: bold;
    content: "Saldo";
  }
}
