* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #131420;
  color: #fff;
  padding: 1em 10em;
}

nav .logo {
  font-size: 24px;
  font-weight: 700;
  flex: 1;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
}

nav .btn-join {
  padding: 10px 28px;
  background-color: aqua;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #131420;
}

nav ul li {
  margin-left: 2em;
}

nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, .6);
  font-size: 18px;
}

nav ul li a:hover {
  color: rgba(255, 255, 255, .8);
}

.active a {
  color: rgba(255, 255, 255, 1);
}

/* Icon Menu */
nav .icon {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
}

nav .icon::before {
  content: "";
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 7px;
}

nav .icon::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 7px;
}

/* Main-Area */
/* 
Generic Styling, for Desktops/Laptops 
*/
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4em 10em;
}

.title {
  margin-bottom: 30px;
}



table {
  width: 100%;
  border-collapse: collapse;
}

th,
td:nth-child(1) {
  text-align: center;
}


/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  border: 1px solid #ccc;
}


@media (max-width: 1200px) and (min-width: 1030px) {
  nav {
    padding: 1em 5em;
  }

  main {
    padding: 0 5em;
  }
}

@media (max-width: 1030px) and (min-width: 300px) {
  nav {
    padding: 1em 2em;
  }

  nav ul {
    display: none;
  }

  nav .icon {
    display: block;
  }

  .collapse .icon::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .collapse .icon::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .collapse ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #131420;
    top: 62px;
    right: 0;
    left: 0;
    width: 100%;
  }

  .collapse ul li {
    margin-left: 0;
    width: 100%;
  }

  .collapse ul li:hover {
    background: rgb(0, 255, 255, 0.1);
    width: 100%;
  }

  .collapse ul li a {
    padding: 1em;
    display: block;
  }

  .collapse .btn-join {
    border-radius: 0;
  }

  /* Main Area */
  /* Force table to not be like tables anymore */
  main {
    padding: 4em 2em;
  }


  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    display: none;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
Label the data
*/
  td:nth-child(1) {
    text-align: left;
  }

  td:nth-of-type(1):before {
    content: "No";
  }

  td:nth-of-type(2):before {
    content: "Tanggal";
  }

  td:nth-of-type(3):before {
    content: "Nama Transaksi";
  }

  td:nth-of-type(4):before {
    content: "No Akun Debit";
  }

  td:nth-of-type(5):before {
    content: "No Akun Kredit";
  }

  td:nth-of-type(6):before {
    content: "Saldo";
  }

}
